/**
  * Variables
  */
:root {
  --color-light: #eeeeee;
  --color-medium: #777582;
  --color-blue: #5a9ffa;
  --color-light-blue: #d7e9f7;
  --color-primary: #983628;
  --color-secondary: #e3d7ff;
  --color-background: #eff6e0;
  --color-accent: #ba5a31;
  --color-text: #0a1e33;
}
